<%= form_with model: comment, url: shortcut_comment_path(shortcut), class: "flex items-end gap-2 mt-3", id: "edit-comment-form", data: { action: "turbo:submit-end->edit-comment-modal#close" } do |f| %>
    <div class="grow flex items-start gap-2">
        <% if current_user.avatar.present? %>
            <%= image_tag current_user.avatar, class: "flex-none size-8 aspect-1/1 object-cover rounded-full mt-1" %>
        <% else %>
            <%= image_tag "user_default_icon.png", class: "flex-none size-8 aspect-1/1 object-cover rounded-full mt-1" %>
        <% end %>
        <%= f.text_area :body, id: "comment-input", placeholder: "コメントを入力してください", class: "grow auto-adjust h-10 px-3 py-2 border border-zinc-300 outline-none overflow-hidden rounded-xl text-base", required: true %>
    </div>
    <%= f.submit "↑", id: "comment-submit-button", class: "flex-none bg-teal-500 text-white px-4 py-1 mb-1 rounded-full" %>
<% end %>
<script>
    document.querySelector(".auto-adjust").addEventListener("input", (e) => {
        let lineHeight = Number(e.rows);
        while(e.scrollHeight > e.offsetHeight) {
            lineHeight++;
            e.rows = lineHeight;
        }
        e.target.style.height = 0
        e.target.style.height = e.target.scrollHeight + "px"
        if(e.target.offsetHeight < 40){
            e.target.style.height = 40 + "px"
        }
    })
</script>
