<div class="p-3">
    <div class="rounded-xl bg-white shadow-sm p-3">
        <%= form_with model: @user, url: user_path, method: :put do |f| %>
            <div class="flex justify-end">
                <%= f.submit '保存する', class: "px-2 py-[6px] border border-zinc-700 rounded-full text-xs text-zinc-700 align-center font-bold" %>
            </div>
            <div class="flex flex-col items-center">
                <div class="mt-4 max-w-25">
                    <%= image_tag 'user_default_icon.png', class: "rounded-full object-cover aspect-1/1" %>
                </div>
                <div class="w-full mt-3 p-1">
                    <div class="mb-5">
                        <p>ユーザーネーム</p>
                        <%= f.text_field :name, placeholder: "名前を入力してください", class: "w-full border-b border-zinc-500 outline-none p-1 text-base" %>
                    </div>
                    <div class="mb-5">
                        <p>ユーザーID</p>
                        <%= f.text_field :uid, placeholder: "半角英数字で入力してください", class: "w-full border-b border-zinc-500 outline-none p-1 text-base" %>
                    </div>
                </div>
                <div class="w-full flex justify-between items-center p-1">
                    <div class="flex flex-col">
                        <p>メールアドレス</p>
                        <p><%= @user.email %></p>
                    </div>
                    <%= link_to '変更する', mypage_path, class: "flex-none px-2 py-[6px] border border-zinc-700 rounded-full text-xs text-zinc-700 align-center font-bold" %>
                </div>
            </div>
        <% end %>
    </div>
    <div class="flex flex-col items-center mt-8">
        <%= link_to "アカウントを削除する", user_path, data: { turbo_method: :delete, turbo_confirm: "本当にアカウントを削除しますか？" }, class: "w-full mb-2 p-2 bg-white rounded-full border border-rose-500 text-rose-500 text-center" %>
        <p class="text-rose-500">削除するとすべてのデータが消去されます</p>
    </div>
</div>