<nav class="sm:hidden z-50 h-13 fixed bottom-0 w-full bg-white border-t-1 border-gray-400/50 grid grid-cols-5 grid-rows-1">
    <%= link_to root_path, class: "flex flex-col justify-items-start items-center pt-1" do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5 stroke-zinc-700 <%= current_page?(root_path) ? "fill-teal-500" : "fill-white" %>"><path d="M11.47 3.841a.75.75 0 0 1 1.06 0l8.69 8.69a.75.75 0 1 0 1.06-1.061l-8.689-8.69a2.25 2.25 0 0 0-3.182 0l-8.69 8.69a.75.75 0 1 0 1.061 1.06l8.69-8.689Z" /><path d="m12 5.432 8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 0-.75-.75h-3a.75.75 0 0 0-.75.75V21a.75.75 0 0 1-.75.75H5.625a1.875 1.875 0 0 1-1.875-1.875v-6.198a2.29 2.29 0 0 0 .091-.086L12 5.432Z" /></svg>
        <p class="text-[10px] <%= current_page?(root_path) ? "text-teal-500 font-bold" : "" %> ">ホーム</p>
    <% end %>
    <%= link_to root_path, class: "flex flex-col justify-items-start items-center pt-1" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5"><path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" /></svg>
        <p class="text-[10px]">フォロー中</p>
    <% end %>
    <%= link_to new_shortcut_path, class: "flex justify-center items-start pt-1" do %>
        <div class="flex justify-center items-center bg-teal-500 rounded-full p-[6px]">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="size-5 stroke-white"><path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" /></svg>
        </div>
    <% end %>
    <%= link_to search_path, class: "flex flex-col justify-items-start items-center pt-1" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 <%= request.path.include?("search") ? "fill-teal-500" : "" %>"><path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" /></svg>
        <p class="text-[10px] <%= request.path.include?("search") ? "text-teal-500 font-bold" : "" %>">検索</p>
    <% end %>
    <%= link_to mypage_path, class: "flex flex-col justify-items-start items-center pt-1" do %>
        <% if user_signed_in? %>
            <% if current_page?("/users/#{current_user.uid}") %>
                <div class="size-5 rounded-full outline outline-offset-1 outline-teal-500">
                    <% if current_user.avatar.present? %>
                        <%= image_tag current_user.avatar, class: "rounded-full object-cover aspect-1/1" %>
                    <% else %>
                        <%= image_tag "user_default_icon.png", class: "rounded-full object-cover aspect-1/1" %>
                    <% end %>
                </div>
                <p class="text-[10px] text-teal-500 font-bold">マイページ</p>
            <% else %>
                <div class="size-5">
                    <% if current_user.avatar.present? %>
                        <%= image_tag current_user.avatar, class: "rounded-full object-cover aspect-1/1" %>
                    <% else %>
                        <%= image_tag "user_default_icon.png", class: "rounded-full object-cover aspect-1/1" %>
                    <% end %>
                </div>
                <p class="text-[10px]">マイページ</p>
            <% end %>
        <% else %>
            <div class="size-5">
                <%= image_tag "user_default_icon.png", class: "rounded-full object-cover aspect-1/1" %>
            </div>
            <p class="text-[10px]">マイページ</p>
        <% end %>
    <% end %>
</nav>
