<header class="flex justify-between items-center px-2 shadow-md h-12 sm:h-14 bg-white">
    <div class="flex-none flex">
        <%= link_to shortcuts_path do %>
            <%= image_tag "logo.png", class: "h-8 sm:h-10" %>
        <% end %>
    </div>
    <div class="flex-none max-sm:hidden">
        <%= link_to "ホーム", root_path, class: "mr-3" %>
        <%= link_to "フォロー中", follow_path, class: "mr-3" %>
        <%= link_to "新規作成", new_shortcut_path, class: "mr-3" %>
        <%= link_to "検索", search_path, class: "mr-3" %>
        <%= link_to "マイページ", mypage_path, class: "mr-3" %>
    </div>
    <% if user_signed_in? %>
        <%= link_to notifications_path, class: "relative mr-2" do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" /></svg>
            <% if current_user.passive_notifications.where(checked: false).exists? %>
                <% if current_user.passive_notifications.where(checked: false).count > 99 %>
                    <p class="absolute -top-1 -right-1 px-1 py-[2px] bg-rose-500 rounded-full text-white text-[8px]">99+</p>
                <% else %>
                    <p class="absolute -top-1 -right-1 px-1 bg-rose-500 rounded-full text-white text-[8px]"><%= current_user.passive_notifications.where(checked: false).count %></p>
                <% end %>
            <% end %>
        <% end %>
    <% else %>
        <div class="flex-none flex items-center">
            <%= link_to "ログイン", new_user_session_path, class: "px-3 py-2 bg-teal-400 rounded-full text-xs text-zinc-100 font-bold" %>
        </div>
    <% end %>
</header>
