<div class="col-span-2 grid grid-cols-4 rounded-xl shadow-sm bg-white p-3">
    <%= link_to shortcut_path(shortcut), class: "" do %>
        <div class="col-span-1 aspect-3/4 flex-none flex justify-center items-center rounded-s-lg rounded-e-sm shadow-md relative bg-teal-500">
            <div class="h-full w-full absolute left-0 rounded-s-lg rounded-e-sm bg-gradient-to-r from-white/0 from-0% via-white/50 via-4% to-white/10 to-10% active:bg-zinc-100/50"></div>
            <%= image_tag "shortcuts/#{shortcut.icon}.svg", class: "size-8" %>
        </div>
    <% end %>
    <div class="col-span-3 flex flex-col justify-between pl-2">
        <%= link_to shortcut_path(shortcut) do %>
            <h2 class="text-base wrap-break-word mb-2 active:bg-zinc-100 pl-2"><%= shortcut.title %></h2>
        <% end %>
        <div class="flex justify-between items-center pl-2">
            <%= link_to user_path(shortcut.user.uid), class: "flex items-center p-1 active:bg-zinc-100" do %>
                <div class="size-5">
                    <% if shortcut.user.avatar.present? %>
                        <%= image_tag shortcut.user.avatar, class: "rounded-full object-cover aspect-1/1" %>
                    <% else %>
                        <%= image_tag "user_default_icon.png", class: "rounded-full object-cover aspect-1/1" %>
                    <% end %>
                </div>
                <p class="pl-1 text-xs"><%= shortcut.user.name %></p>
            <% end %>
        </div>
    </div>
</div>
