<div class="flex flex-col justify-between rounded-xl shadow-sm bg-white">
    <%= link_to shortcut_path(shortcut) do %>
        <div class="aspect-16/7 flex justify-center items-center p-3 bg-teal-500 rounded-t-xl">
            <%= image_tag "shortcuts/#{shortcut.icon}.svg", class: "size-8" %>
        </div>
        <h2 class="text-base p-2 truncate"><%= shortcut.title %></h2>
    <% end %>
    <% if shortcut.tags.present? %>
        <div class="flex justify-start mt-2 px-[6px]">
            <div class="flex justify-start items-center rounded-full border border-zinc-300 bg-white px-[2px] py-[2px]">
                <div class="flex justify-center items-center size-4 rounded-full bg-zinc-500">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3 fill-white"><path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" /><path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6Z" /></svg>
                </div>
                <p class="mx-1 text-xs"><%= shortcut.tags.first.name %></p>
            </div>
        </div>
    <% end %>
    <div>
        <div class="flex justify-between items-center p-2 truncate">
            <%= link_to user_path(shortcut.user), class: "flex items-center " do %>
                <div class="size-5">
                    <% if shortcut.user.avatar.present? %>
                        <%= image_tag shortcut.user.avatar, class: "rounded-full object-cover aspect-1/1" %>
                    <% else %>
                        <%= image_tag "user_default_icon.png", class: "rounded-full object-cover aspect-1/1" %>
                    <% end %>
                </div>
                <p class="pl-1 text-xs"><%= shortcut.user.name %></p>
            <% end %>
        </div>
    </div>
</div>
