<div class="col-span-2 grid grid-cols-4 rounded-xl shadow-sm bg-white p-3">
    <%= link_to shortcut_path(shortcut), data: { turbo: false } do %>
        <div class="col-span-1 aspect-3/4 flex-none flex justify-center items-center rounded-s-lg rounded-e-sm shadow-md relative bg-teal-500">
            <div class="h-full w-full absolute left-0 rounded-s-lg rounded-e-sm bg-gradient-to-r from-white/0 from-0% via-white/50 via-4% to-white/10 to-10% hover:bg-zinc-100 active:bg-zinc-100/50"></div>
            <%= image_tag "shortcuts/#{shortcut.icon}.svg", class: "size-8" %>
        </div>
    <% end %>
    <div class="col-span-3 flex flex-col justify-between pl-2">
        <%= link_to shortcut_path(shortcut), class: "active:bg-zinc-100 pl-2 pb-2", data: { turbo: false } do %>
            <h2 class="text-base wrap-break-word"><%= shortcut.title %></h2>
        <% end %>
        <div class="flex justify-between items-center pl-2">
            <%= link_to user_path(shortcut.user.uid), class: "flex items-center p-1 hover:bg-zinc-100 active:bg-zinc-100", data: { turbo: false } do %>
                <div class="size-5">
                    <% if shortcut.user.avatar.present? %>
                        <%= image_tag shortcut.user.avatar, class: "rounded-full object-cover aspect-1/1" %>
                    <% else %>
                        <%= image_tag "user_default_icon.png", class: "rounded-full object-cover aspect-1/1" %>
                    <% end %>
                </div>
                <p class="pl-1 text-xs"><%= shortcut.user.name %></p>
            <% end %>
            <% if shortcut.favorites.present? %>
                <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 stroke-zinc-500 mr-1"><path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" /></svg>
                    <p class="text-xs text-zinc-500"><%= shortcut.favorites.count %></p>
                </div>
            <% end %>
        </div>
    </div>
</div>
