<%= javascript_include_tag "edit_shortcut" %>
<%= form_with model: @shortcut, url: shortcut_path, method: :put do |f| %>
    <div class="bg-white w-full p-2 flex justify-end shadow-sm">
        <% if @shortcut.status != 'published' %>
            <%= f.submit "下書きを保存", class: "px-3 py-2 bg-zinc-700 rounded-full text-xs text-zinc-100 font-bold" %>
            <button type="button" id="openPublishedModal" class="ml-2 px-3 py-2 bg-teal-500 rounded-full text-xs text-white font-bold">公開設定</button>
            <dialog id="published_modal" class="modal">
                <div class="modal-box" id="publishedModalContainer">
                    <h3 class="text-lg font-bold">公開しますか？</h3>
                    <p class="py-4">
                        ｢<%= link_to "投稿ガイドライン", root_path, class: "text-teal-700" %>」をご確認のうえ投稿してください
                    </p>
                    <div class="mt-2 grid grid-cols-2 gap-3">
                        <%= f.submit "公開する", class: "col-span-1 py-2 bg-teal-500 rounded-lg text-sm text-white font-bold" %>
                        <button type="button" id="closePublishedModal" class="col-span-1 py-2 border border-zinc-300 rounded-md text-xs text-zinc-500 font-bold">閉じる</button>
                    </div>
                </div>
            </dialog>
        <% else %>
            <%= f.submit "内容を更新", class: "px-3 py-2 bg-teal-500 rounded-full text-xs text-zinc-100 font-bold" %>
        <% end %>
        <%= f.hidden_field :status, value: @shortcut.status, id: 'shortcut_status' %>
    </div>

    <div class="flex flex-col justify-center items-center pt-10 px-4">
        <div class="rounded-xl shadow-xl bg-white mb-3 mx-21 w-44">
            <div class="flex justify-center p-3 rounded-t-xl bg-teal-500">
                <%= image_tag "icon1.svg" %>
            </div>
            <%= f.text_area :title, class: "auto-adjust whitespace-normal h-auto w-full text-base p-2 pb-0 outline-none", placeholder: "ここにタイトルを入力してください" %>
            <div class="flex items-center px-1 pb-2 opacity-50">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
                <p class="pl-1 text-[12px]"><%= current_user.name %></p>
            </div>
        </div>
        <p class="mb-4 text-xs">タイトルはタップで変更できます</p>

        <button type="button" class="btn bg-white shadow-sm rounded-full text-zinc-700 mb-4">アイコンを選択</button>

        <div class="w-full flex justify-start items-center mb-2">
            <p class="mr-1 font-bold">説明</p>
            <p class="bg-rose-500 text-[10px] text-white p-1 py-[2px] rounded-sm">必須</p>
        </div>
        <%= f.text_area :description,
            placeholder: "ショートカットの説明を入力してください",
            required: true,
            class: "auto-adjust resize-none h-10 border border-zinc-300 bg-white w-full rounded-xl px-2 py-2 outline-none overflow-hidden",
            pattern: "[A-Za-z][A-Za-z0-9\-]*",
            minlength: "3",
            maxlength: "50"
        %>
        <p class="validator-hint mb-2 text-start w-full mt-0 p-1">
            3文字以上で50文字以内で入力してください
        </p>

        <div class="w-full flex justify-between items-center mb-2 px-[2px]">
            <div class="flex items-center">
                <p class="mr-1 font-bold">URL</p>
                <p class="bg-rose-500 text-[10px] text-white p-1 py-[2px] rounded-sm">必須</p>
            </div>
            <div class="dropdown dropdown-top dropdown-end">
                <div tabindex="0" role="button" class="flex justify-center items-center size-5 rounded-full bg-teal-500 shadow-sm">
                    <p class="text-white text-xs font-bold">？</p>
                </div>
                <div tabindex="0" class="dropdown-content menu bg-zinc-100 rounded-box z-1 w-52 p-2 mb-1 shadow-sm">
                    <p>URLの共有方法がわからない方は
                        <%= link_to 'こちら', root_path, class: "underline decoration-teal-700 text-teal-700" %>
                    </p>
                </div>
            </div>
        </div>
        <%= f.url_field :download_url,
            autocomplete: "off",
            required: true,
            placeholder: "例）https://www.icloud.com/shortcuts/*****",
            class: "w-full h-10 bg-white py-4 px-3 rounded-xl validator outline-none border border-zinc-300 focus:border-teal-500 text-base",
            pattern: "^(https?://www.icloud.com/shortcuts/)?([a-zA-Z0-9]([a-zA-Z0-9-].*[a-zA-Z0-9])?.)+[a-zA-Z].*$"
        %>
        <p class="validator-hint mb-2 text-start w-full mt-0 p-1">
            有効なURLを入力してください
        </p>
    </div>
<% end %>
