<%= content_for :head do %>
    <%= javascript_include_tag "edit_shortcut", "data-turbo-track": "reload", type: "module" %>
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
<% end %>
<%= form_with model: @shortcut, url: shortcut_path, method: :put do |f| %>
    <div class="w-full bg-white p-2 flex justify-end shadow-sm">
        <% if @shortcut.status != "published" %>
            <%= javascript_include_tag "published_shortcut", "data-turbo-track": "reload", type: "module" %>
            <%= f.button "下書きを保存", type: "button", onClick: "submit()", class: "px-3 py-2 bg-zinc-700 rounded-full text-xs text-zinc-100 font-bold" %>
            <button type="button" id="openPublishedModal" class="ml-2 px-3 py-2 bg-teal-500 rounded-full text-xs text-white font-bold">公開設定</button>
            <dialog id="published_modal" class="modal">
                <div class="modal-box" id="publishedModalContainer">
                    <h3 class="text-lg font-bold">公開しますか？</h3>
                    <p class="py-4">
                        ｢<%= link_to "投稿ガイドライン", root_path, class: "text-teal-700" %>」をご確認のうえ投稿してください
                    </p>
                    <div class="mt-2 grid grid-cols-2 gap-3">
                        <%= f.button "公開する", type: "button", onClick: "submit()", class: "col-span-1 py-2 bg-teal-500 rounded-sm text-sm text-white font-bold" %>
                        <button type="button" id="closePublishedModal" class="col-span-1 py-2 border border-zinc-300 rounded-sm text-xs text-zinc-500 font-bold">閉じる</button>
                    </div>
                </div>
            </dialog>
        <% else %>
            <%= f.button "内容更新", type: "button", onClick: "submit()", class: "px-3 py-2 bg-teal-500 rounded-full text-xs text-zinc-100 font-bold" %>
        <% end %>
        <%= f.hidden_field :status, value: @shortcut.status, id: "shortcut_status" %>
    </div>
    <div class="flex flex-col justify-center items-center pt-10 px-4">
        <div class="col-span-1 flex-none flex justify-center items-center overflow-hidden rounded-s-lg rounded-e-sm shadow-md relative mb-4 bg-zinc-100">
            <% if @shortcut.thumbnail.attached? %>
                <%= image_tag @shortcut.thumbnail, class: "aspect-2/3 h-40", id: "shortcut_thumbnail_preview" %>
            <% else %>
                <%= image_tag "shortcut_default_thumbnail.png", class: "aspect-2/3 h-40", id: "shortcut_thumbnail_preview" %>
            <% end %>
            <div class="h-full w-full absolute left-0 rounded-s-lg rounded-e-sm bg-gradient-to-r from-white/0 from-0% via-white/50 via-4% to-white/10 to-10%"></div>
        </div>
        <% if @shortcut.thumbnail.attached? %>
        <% else %>
            <button type="button" id="thumbnail_modal_btn" class="btn bg-white shadow-sm rounded-full text-zinc-700 mb-4">画像を生成する</button>
            <dialog id="thumbnail_modal" class="modal">
                <div class="modal-box p-4" id="thumbnail_modal_container">
                    <p class="text-xl font-bold mb-4">サムネイル画像を生成</p>
                    <p class="text-lg mb-4">下記のタイトルで画像を生成してよろしいですか？</p>
                    <div class="bg-zinc-100 rounded-xl p-4 mb-4">
                        <p class="text-lg font-bold text-zinc-700" id="shortcut_title_confirm"></p>
                    </div>
                    <div class="flex items-end mb-6">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 fill-rose-500"><path fill-rule="evenodd" d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd" /></svg>
                        <p class="font-bold text-rose-700 ml-2">画像は一度しか作成できません</p>
                    </div>
                    <button type="button" id="create_thumbnail" class="w-full btn bg-teal-500 shadow-sm rounded-full text-white mb-4">画像を生成する</button>
                    <button type="button" id="close_thumbnail_modal_btn" class="w-full text-center">また後で</button>
                    <p class="hidden" id="shortcut_id"><%= @shortcut.id %></p>
                </div>
            </dialog>
            <div class="fixed top-0 left-0 z-[9999] h-screen w-screen bg-zinc-900/70 hidden" id="thumbnail_loading">
                <div class="h-full w-full flex justify-center items-center">
                    <div class="flex flex-col items-center justify-center bg-white rounded-xl p-8 pb-4">
                        <div class="loading loading-spinner loading-xl scale-200"></div>
                        <p class="mt-8">画像生成中...</p>
                    </div>
                </div>
            </div>
        <% end %>
        <div class="w-full flex justify-between mb-2">
            <div class="flex justify-start items-center">
                <p class="mr-1 font-bold">タイトル</p>
                <p class="bg-rose-500 text-[10px] text-white p-1 py-[2px] rounded-sm">必須</p>
            </div>
        </div>
        <%= f.text_field :title,
            class: "w-full validator border border-zinc-300 focus:border-teal-500 bg-white rounded-xl px-2 py-2 outline-none overflow-hidden",
            placeholder: "ここにタイトルを入力してください",
            required: true,
            pattern: "[A-Za-z][A-Za-z0-9\-]*",
            minlength: "3",
            maxlength: "50"
        %>
        <p class="w-full validator-hint mb-2 text-start mt-0 p-1">
            3文字以上で50文字以内で入力してください
        </p>
        <div class="w-full flex justify-start items-center mb-2">
            <p class="mr-1 font-bold">説明</p>
            <p class="bg-rose-500 text-[10px] text-white p-1 py-[2px] rounded-sm">必須</p>
        </div>
        <%= f.text_area :description,
            autofocus: true,
            placeholder: "ショートカットの説明を入力してください",
            required: true,
            class: "w-full validator auto-adjust resize-none h-10 border border-zinc-300 focus:border-teal-500 bg-white rounded-xl px-2 py-2 outline-none overflow-hidden",
            pattern: "[A-Za-z][A-Za-z0-9\-]*",
            minlength: "3",
            maxlength: "100"
        %>
        <p class="validator-hint mb-2 text-start w-full mt-0 p-1">
            3文字以上で100文字以内で入力してください
        </p>
        <div class="w-full flex justify-between items-center mb-2 px-[2px]">
            <div class="flex items-center">
                <p class="mr-1 font-bold">URL</p>
                <p class="bg-rose-500 text-[10px] text-white p-1 py-[2px] rounded-sm">必須</p>
            </div>
            <div class="dropdown dropdown-top dropdown-end">
                <div tabindex="0" role="button" class="flex justify-center items-center size-5 rounded-full bg-teal-500 shadow-sm">
                    <p class="text-white text-xs font-bold">？</p>
                </div>
                <div tabindex="0" class="dropdown-content menu bg-zinc-100 rounded-box z-1 w-52 p-2 mb-1 shadow-sm">
                    <p>URLの共有方法がわからない方は
                        <%= link_to "こちら", root_path, class: "underline decoration-teal-700 text-teal-700" %>
                    </p>
                </div>
            </div>
        </div>
        <%= f.url_field :download_url,
            autocomplete: "off",
            required: true,
            placeholder: "例）https://www.icloud.com/shortcuts/*****",
            class: "w-full h-10 bg-white py-4 px-3 rounded-xl validator outline-none border border-zinc-300 focus:border-teal-500 text-base",
            pattern: "^(https?://www.icloud.com/shortcuts/)?([a-zA-Z0-9]([a-zA-Z0-9-].*[a-zA-Z0-9])?.)+[a-zA-Z].*$"
        %>
        <p class="validator-hint mb-2 text-start w-full mt-0 p-1">
            有効なURLを入力してください
        </p>
        <div class="w-full flex justify-start items-center mb-2">
            <p class="mr-1 font-bold">タグ</p>
            <p class="bg-rose-500 text-[10px] text-white p-1 py-[2px] rounded-sm">必須</p>
        </div>
        <%= f.text_field :tag_names, required: true, class: "w-full tagify bg-white rounded-xl text-base", data: { controller: "tag"}, placeholder: "関連するタグを入力" %>
        <p class="w-full text-xs text-start mb-2 p-1">作成したショートカットに関連するタグを入力（最大で５つ）</p>
        <div class="w-full flex justify-start items-center mt-4 mb-2">
            <p class="ml-[2px] mr-1 font-bold">使い方</p>
            <p class="bg-zinc-500 text-[10px] text-white p-1 py-[2px] rounded-sm">任意</p>
        </div>
        <div data-controller="instruction" class="w-full">
            <div data-instruction-target="instructions" class="w-full flex flex-col gap-4 divide-y-1 divide-dotted divide-teal-500 px-[2px]">
                <% if @shortcut.instructions.present? %>
                    <% @shortcut.instructions.each_with_index do |instruction, index| %>
                        <div class="flex items-center gap-4 pb-4">
                            <div class="flex-none flex justify-center items-center bg-zinc-700 rounded-full size-5">
                                <p class="text-white text-xs"><%= index + 1 %></p>
                            </div>
                            <textarea class="resize-none overflow-hidden auto-adjust outline-none border border-zinc-300 focus:border-teal-700 h-10 w-full p-2 bg-white rounded-xl", placeholder="ここに使い方を入力してください", name="shortcut[instructions][]", required><%= instruction.content %></textarea>
                            <div class="dropdown dropdown-top dropdown-end">
                                <div tabindex="0" role="button" class="pb-2">...</div>
                                <div tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-26 p-2 shadow-sm">
                                    <button data-action="click->instruction#remove" type="button" class="text-rose-500">
                                        削除する
                                    </button>
                                </div>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
            <div class="flex justify-center">
                <button data-action="click->instruction#append" type="button" class="btn bg-white shadow-sm rounded-full text-zinc-700 mb-4">＋説明を追加する</button>
            </div>
        </div>
    </div>
<% end %>
