<%= content_for :head do %>
    <%= javascript_include_tag "edit_shortcut", "data-turbo-track": "reload", type: "module" %>
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
<% end %>
<%= form_with model: @shortcut, url: shortcut_path, method: :put, data: { controller: "edit-shortcut", action: "input->edit-shortcut#validSubmit" } do |f| %>
    <div class="w-full bg-white p-2 flex justify-end shadow-sm">
        <% if @shortcut.status != "published" %>
            <%= javascript_include_tag "published_shortcut", "data-turbo-track": "reload", type: "module" %>
            <%= f.button "下書きを保存", type: "button", onClick: "submit()", class: "btn btn-neutral rounded-full bg-zinc-700 shadow-sm" %>
            <%= f.button "公開する", type: "button", id: "openPublishedModal", class: "
            ml-2 btn btn-accent rounded-full shadow-sm text-white", disabled: true, data: { edit_shortcut_target: "published_btn" } %>
            <dialog id="published_modal" class="modal">
                <div class="modal-box p-4 bg-white" id="publishedModalContainer">
                    <h3 class="text-lg font-bold">公開しますか？</h3>
                    <p class="py-4">
                        ｢<%= link_to "投稿ガイドライン", root_path, class: "text-teal-700" %>」をご確認のうえ投稿してください
                    </p>
                    <div class="mt-2 grid grid-cols-2 gap-3">
                        <%= f.button "公開する", type: "button", onClick: "submit()", class: "col-span-1 py-2 bg-teal-500 rounded-sm text-sm text-white font-bold" %>
                        <button type="button" id="closePublishedModal" class="col-span-1 py-2 border border-zinc-300 rounded-sm text-xs text-zinc-500 font-bold">閉じる</button>
                    </div>
                </div>
            </dialog>
        <% else %>
            <%= f.button "内容更新", type: "button", onClick: "submit()", class: "btn btn-accent rounded-full shadow-sm text-white", disabled: true, data: { edit_shortcut_target: "published_btn" } %>
        <% end %>
        <%= f.hidden_field :status, value: @shortcut.status, id: "shortcut_status" %>
    </div>
    <div class="flex flex-col justify-center items-center pt-10 px-4">
        <div class="col-span-1 flex-none flex justify-center items-center overflow-hidden rounded-s-lg rounded-e-sm shadow-md relative mb-4 bg-zinc-100">
            <% if @shortcut.thumbnail.attached? %>
                <%= image_tag @shortcut.thumbnail, class: "aspect-2/3 h-40", id: "shortcut_thumbnail_preview" %>
            <% else %>
                <%= image_tag "shortcut_default_thumbnail.png", class: "aspect-2/3 h-40", id: "shortcut_thumbnail_preview" %>
            <% end %>
            <div class="h-full w-full absolute left-0 rounded-s-lg rounded-e-sm bg-gradient-to-r from-white/0 from-0% via-white/50 via-4% to-white/10 to-10%"></div>
        </div>
        <% if @shortcut.thumbnail.attached? %>
        <% elsif current_user.can_generate_thumbnail_this_month? %>
            <button type="button" id="thumbnail_modal_btn" class="btn bg-white shadow-sm rounded-full text-zinc-700 mb-4">画像を生成する</button>
            <dialog id="thumbnail_modal" class="modal">
                <div class="modal-box p-4 bg-white" id="thumbnail_modal_container">
                    <% if current_user.confirmed? %>
                        <p class="text-xl font-bold mb-4">サムネイル画像を生成</p>
                        <p class="text-lg mb-4">下記のタイトルで画像を生成してよろしいですか？</p>
                        <div class="bg-zinc-100 rounded-xl p-4 mb-4">
                            <p class="text-lg font-bold text-zinc-700 break-words" id="shortcut_title_confirm"></p>
                        </div>
                        <div class="flex items-end mb-6">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 fill-amber-300"><path fill-rule="evenodd" d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd" /></svg>
                            <p class="ml-2">
                                画像は<span class="text-rose-700 font-bold text-lg">月に一度</span>しか作成できません
                            </p>
                        </div>
                        <div class="mt-2 grid grid-cols-2 gap-3">
                            <button type="button" id="create_thumbnail" class="col-span-1 py-2 bg-teal-500 rounded-sm text-sm text-white font-bold">画像を生成する</button>
                            <button type="button" id="close_modal_btn" class="col-span-1 py-2 border border-zinc-300 rounded-sm text-xs text-zinc-500 font-bold">閉じる</button>
                        </div>
                        <p class="hidden" id="shortcut_id"><%= @shortcut.id %></p>
                    <% else %>
                        <p class="text-lg font-bold mb-4">メールアドレスの認証が完了していません。</p>
                        <p class="mb-4">Shortcut Hubのすべての機能をご利用いただくには、メールアドレスの認証が必要です。</p>
                        <p>現在ご登録のメールアドレス</p>
                        <div class="bg-zinc-100 rounded-xl p-4 mb-4">
                            <p class="text-lg font-bold text-zinc-700 break-words"><%= current_user.email %></p>
                        </div>
                        <div class="flex mb-6">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 fill-amber-300 flex-none"><path fill-rule="evenodd" d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd" /></svg>
                            <p class="ml-2">
                                認証メールを送信ボタンを押すとホームに戻ります。<span class="text-rose-700 font-bold">保存してない内容は失われます</span>
                            </p>
                        </div>
                        <div class="mt-2 grid grid-cols-2 gap-3">
                            <div class="col-span-1 relative">
                                <%= link_to "認証メールを送信", resend_confirmation_path, class: "w-full btn py-2 bg-teal-500 rounded-sm text-sm text-white font-bold", data: { turbo_method: :post }, id: "confirm_btn"  %>
                                <div id="confirm_loading" class="bg-teal-700 flex justify-center items-center absolute top-0 left-0 rounded-sm w-full h-full hidden">
                                    <div class="loading loading-spinner loading-xs text-white"></div>
                                </div>
                            </div>
                            <button type="button" id="close_modal_btn" class="col-span-1 py-2 border border-zinc-300 rounded-sm text-xs text-zinc-500 font-bold">閉じる</button>
                        </div>
                    <% end %>
                </div>
            </dialog>
            <div class="fixed top-0 left-0 z-[9999] h-screen w-screen bg-zinc-900/70 hidden" id="thumbnail_loading">
                <div class="h-full w-full flex justify-center items-center">
                    <div class="flex flex-col items-center justify-center bg-white rounded-xl p-8 pb-4">
                        <div class="loading loading-spinner loading-xl scale-200"></div>
                        <p class="mt-8">画像生成中...</p>
                    </div>
                </div>
            </div>
        <% else %>
            <p>生成回数の上限に達しています。</p>
            <p class="mb-4">次回生成できるのは<%= l current_user.next_generate_date %>です。</p>
        <% end %>
        <div class="w-full flex justify-between mb-2">
            <div class="flex justify-start items-center">
                <p class="mr-1 font-bold">タイトル</p>
                <p class="bg-rose-500 text-[10px] text-white p-1 py-[2px] rounded-sm">必須</p>
            </div>
        </div>
        <div class="w-full" data-action="input->edit-shortcut#titleValidation">
            <%= f.text_field :title,
                class: "w-full border border-zinc-300 focus:border-zinc-500 bg-white rounded-xl px-2 py-2 outline-none overflow-hidden",
                placeholder: "ここにタイトルを入力してください",
                required: true,
                minlength: "3",
                maxlength: "50",
                data: { edit_shortcut_target: "title" }
            %>
            <p class="w-full h-6 text-xs text-start text-rose-500 mb-2 mt-0 p-1", data-edit-shortcut-target="error_title"></p>
        </div>
        <div class="w-full flex justify-start items-center mb-2">
            <p class="mr-1 font-bold">説明</p>
            <p class="bg-rose-500 text-[10px] text-white p-1 py-[2px] rounded-sm">必須</p>
        </div>
        <div class="w-full" data-action="input->edit-shortcut#descriptionValidation">
            <%= f.text_area :description,
                autofocus: true,
                placeholder: "ショートカットの説明を入力してください",
                required: true,
                class: "w-full auto-adjust resize-none h-10 border border-zinc-300 focus:border-zinc-500 bg-white rounded-xl px-2 py-2 outline-none overflow-hidden",
                minlength: "3",
                maxlength: "100",
                data: { edit_shortcut_target: "description" }
            %>
            <p class="w-full h-6 text-xs text-start text-rose-500 mb-2 mt-0 p-1", data-edit-shortcut-target="error_description"></p>
        </div>
        <div class="w-full flex justify-between items-center mb-2 px-[2px]">
            <div class="flex items-center">
                <p class="mr-1 font-bold">URL</p>
                <p class="bg-rose-500 text-[10px] text-white p-1 py-[2px] rounded-sm">必須</p>
            </div>
            <div class="dropdown dropdown-top dropdown-end">
                <div tabindex="0" role="button" class="flex justify-center items-center size-5 rounded-full bg-teal-500 shadow-sm">
                    <p class="text-white text-xs font-bold">？</p>
                </div>
                <div tabindex="0" class="dropdown-content menu bg-white/30 backdrop-blur-md rounded-box z-1 w-60 p-2 mb-1 shadow-sm">
                    <p>URLの共有方法</p>
                    <div class="text-xs">
                        <p>1. ショートカットアプリから作成したショートカットを長押し</p>
                        <p>2. 共有をタップ</p>
                        <p>3. iCloudリンクをコピーをタップ</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full" data-action="input->edit-shortcut#urlValidation">
            <%= f.url_field :download_url,
                autocomplete: "off",
                required: true,
                placeholder: "例）https://www.icloud.com/shortcuts/*****",
                class: "w-full h-10 bg-white py-4 px-3 rounded-xl outline-none border border-zinc-300 focus:border-zinc-500 text-base",
                data: { edit_shortcut_target: "url" }
            %>
            <p class="w-full h-6 text-xs text-start text-rose-500 mb-2 mt-0 p-1", data-edit-shortcut-target="error_url"></p>
        </div>
        <div class="w-full flex justify-start items-center mb-2">
            <p class="mr-1 font-bold">タグ</p>
            <p class="bg-zinc-500 text-[10px] text-white p-1 py-[2px] rounded-sm">任意</p>
        </div>
        <%= f.text_field :tag_names, required: true, class: "w-full tagify bg-white rounded-xl text-base", data: { controller: "tag"}, placeholder: "関連するタグを入力" %>
        <p class="w-full text-xs text-start mb-2 p-1">作成したショートカットに関連するタグを入力（最大で５つ）</p>
        <div class="w-full flex justify-start items-center mt-4 mb-2">
            <p class="ml-[2px] mr-1 font-bold">使い方</p>
            <p class="bg-zinc-500 text-[10px] text-white p-1 py-[2px] rounded-sm">任意</p>
        </div>
        <div data-controller="instruction" class="w-full">
            <div data-instruction-target="instructions" class="w-full flex flex-col gap-4 divide-y-1 divide-dotted divide-teal-500 px-[2px]">
                <% if @shortcut.instructions.present? %>
                    <% @shortcut.instructions.each_with_index do |instruction, index| %>
                        <div class="flex items-center gap-4 pb-4">
                            <div class="flex-none flex justify-center items-center bg-zinc-700 rounded-full size-5">
                                <p class="text-white text-xs"><%= index + 1 %></p>
                            </div>
                            <textarea class="resize-none overflow-hidden auto-adjust outline-none border border-zinc-300 focus:border-teal-700 h-10 w-full p-2 bg-white rounded-xl", placeholder="ここに使い方を入力してください", name="shortcut[instructions][]", required><%= instruction.content %></textarea>
                            <div class="dropdown dropdown-top dropdown-end">
                                <div tabindex="0" role="button" class="pb-2">...</div>
                                <div tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-26 p-2 shadow-sm">
                                    <button data-action="click->instruction#remove" type="button" class="text-rose-500">
                                        削除する
                                    </button>
                                </div>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
            <div class="flex justify-center">
                <button data-action="click->instruction#append" type="button" class="btn bg-white shadow-sm rounded-full text-zinc-700 mb-4">＋説明を追加する</button>
            </div>
        </div>
    </div>
<% end %>
