<div class="flex justify-between items-center bg-white sticky z-40 top-0 p-2 shadow-sm md:hidden">
    <%= link_to user_path(@shortcut.user), class: "flex items-center", data: { turbo: false } do %>
        <div class="size-6">
            <% if @shortcut.user.avatar.present? %>
                <%= image_tag @shortcut.user.avatar, class: "rounded-full object-cover aspect-1/1" %>
            <% else %>
                <%= image_tag "user_default_icon.png", class: "rounded-full object-cover aspect-1/1" %>
            <% end %>
        </div>
        <p class="pl-1 text-base"><%= @shortcut.user.name %></p>
    <% end %>
    <% if user_signed_in? && @shortcut.user != current_user %>
        <%= render partial: "relationships/btn", locals: { user: @shortcut.user } %>
    <% end %>
</div>
<div class="flex justify-start items-center bg-zinc-100 inset-shadow-sm">
    <div class="breadcrumbs text-xs px-3">
        <ul>
            <li>
                <%= link_to root_path do %>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3"><path d="M11.47 3.841a.75.75 0 0 1 1.06 0l8.69 8.69a.75.75 0 1 0 1.06-1.061l-8.689-8.69a2.25 2.25 0 0 0-3.182 0l-8.69 8.69a.75.75 0 1 0 1.061 1.06l8.69-8.689Z" /><path d="m12 5.432 8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 0-.75-.75h-3a.75.75 0 0 0-.75.75V21a.75.75 0 0 1-.75.75H5.625a1.875 1.875 0 0 1-1.875-1.875v-6.198a2.29 2.29 0 0 0 .091-.086L12 5.432Z" /></svg>
                    ホーム
                <% end %>
            </li>
            <li>
                <%= link_to shortcuts_path do %>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3"><path d="M10.5 18.75a.75.75 0 0 0 0 1.5h3a.75.75 0 0 0 0-1.5h-3Z" /><path fill-rule="evenodd" d="M8.625.75A3.375 3.375 0 0 0 5.25 4.125v15.75a3.375 3.375 0 0 0 3.375 3.375h6.75a3.375 3.375 0 0 0 3.375-3.375V4.125A3.375 3.375 0 0 0 15.375.75h-6.75ZM7.5 4.125C7.5 3.504 8.004 3 8.625 3H9.75v.375c0 .621.504 1.125 1.125 1.125h2.25c.621 0 1.125-.504 1.125-1.125V3h1.125c.621 0 1.125.504 1.125 1.125v15.75c0 .621-.504 1.125-1.125 1.125h-6.75A1.125 1.125 0 0 1 7.5 19.875V4.125Z" clip-rule="evenodd" /></svg>
                    ショートカット一覧
                <% end %>
            </li>
            <li>
                <span>
                    <%= @shortcut.title %>
                </span>
            </li>
        </ul>
    </div>
</div>
<div class="w-full flex flex-col items-center">
    <div class="w-full flex flex-wrap md:max-w-3xl md:mt-4">
        <div class="w-full md:w-2/3 md:order-1 bg-teal-50 md:bg-white mb-2 max-md:shadow-[0_-1px_2px_rgba(0,0,0,0.1)]">
            <div class="flex justify-end text-xs text-zinc-400 text-right p-2">
                <p class="mr-2">投稿日：<%= l @shortcut.created_at %></p>
                <p>更新日：<%= l @shortcut.updated_at %></p>
            </div>
            <div class="flex justify-center my-5">
                <% if @shortcut.thumbnail.attached? %>
                    <div class="col-span-1 h-30 flex-none flex justify-center items-center overflow-hidden rounded-s-lg rounded-e-sm shadow-md relative bg-zinc-100 aspect-2/3">
                        <%= image_tag @shortcut.thumbnail, class: "aspect-2/3" %>
                        <div class="h-full w-full absolute left-0 rounded-s-lg rounded-e-sm bg-gradient-to-r from-white/0 from-0% via-white/50 via-4% to-white/10 to-10%"></div>
                    </div>
                <% else %>
                    <div class="col-span-1 h-30 flex-none flex justify-center items-center overflow-hidden rounded-s-lg rounded-e-sm shadow-md relative bg-zinc-100 aspect-2/3">
                        <%= image_tag "shortcut_default_thumbnail.png", class: "aspect-2/3" %>
                        <div class="h-full w-full absolute left-0 rounded-s-lg rounded-e-sm bg-gradient-to-r from-white/0 from-0% via-white/50 via-4% to-white/10 to-10%"></div>
                    </div>
                <% end %>
            </div>
            <div class="w-full flex justify-center my-5 px-5">
                <h2 class="w-full text-zinc-700 text-xl font-bold wrap-break-word"><%= @shortcut.title %></h2>
            </div>
        </div>
        <div class="w-full md:w-2/3 md:order-3 bg-white p-4 mb-2">
            <div class="bg-zinc-200 py-4 px-3 rounded-lg text-sm">
                <p><%= @shortcut.description %></p>
            </div>
        </div>
        <div class="w-full md:w-2/3 md:order-4 bg-white p-4 mb-2 flex justify-between">
            <div class="w-full flex gap-4">
                <div class="grow flex justify-between btn bg-teal-500 px-1 rounded-full" onclick="downloadModal.showModal()">
                    <div class="bg-white p-2 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4 stroke-teal-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                        </svg>
                    </div>
                    <p class="text-white">ダウンロードする</p>
                    <p></p>
                </div>
                <% if user_signed_in? %>
                    <%= render "favorites/btn", { shortcut: @shortcut } %>
                    <%= render "bookmarks/bookmark_buttons", { shortcut: @shortcut } %>
                <% end %>
                <dialog id="downloadModal" class="modal p-4">
                    <div class="modal-box bg-white p-0 rounded-xl">
                        <% if user_signed_in? %>
                        <div class="p-4">
                            <p class="text-xl font-bold mb-4">ダウンロードしますか？</p>
                            <div class="flex rounded-xl bg-amber-100/70 border border-amber-300 mb-4 p-2">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex-none size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" /></svg>
                                <p class="text-sm ml-2">ダウンロード"1回"で"1クレジット"消費します<br/>現在のクレジット残高：<span class="font-bold"><%= current_user.credits %></span></p>
                            </div>
                            <p class="text-xs mb-1">※ショートカットアプリが起動します</p>
                            <p class="text-xs mb-4">※一部のリンクは削除済みで正しく開けないことがあります</p>
                            <div class="mt-2 grid grid-cols-2 gap-3">
                                <% if current_user.credits >= 1 %>
                                    <%= button_to download_shortcut_path(@shortcut), method: :post, form_class: "col-span-1 flex justify-center items-center bg-teal-500 rounded-sm text-white", form: { data: { turbo: false } }, class: "w-full flex flex-col justify-center py-1" do %>
                                        <p class="text-sm font-bold">ダウンロードする</p>
                                        <div class="w-full flex items-center justify-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3"><path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" /></svg>
                                            <p class="text-[12px] pl-1">1クレジット</p>
                                        </div>
                                    <% end %>
                                <% else %>
                                    <div class="col-span-1 flex flex-col justify-center items-center bg-teal-500/50 rounded-sm text-white py-1">
                                        <p class="text-sm font-bold">ダウンロードする</p>
                                        <div class="flex items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3"><path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" /></svg>
                                            <p class="text-[12px] pl-1">1クレジット</p>
                                        </div>
                                    </div>
                                <% end %>
                                <button type="button" class="col-span-1 py-2 border border-zinc-300 rounded-sm text-xs text-zinc-500 font-bold" onclick="downloadModal.close()">閉じる</button>
                            </div>
                        </div>
                        <% else %>
                            <div class="w-full flex flex-col justify-center bg-teal-100">
                                <div class="w-full flex justify-center items-center h-40">
                                    <%= image_tag 'need-login-icon.png', class: "h-50 object-cover" %>
                                </div>
                            </div>
                            <div class="w-full flex flex-col items-center p-5">
                                <h3 class="text-lg text-teal-700 font-bold">ログインするともっと便利に</h3>
                                <p class="my-4">新規会員登録しログインすると、様々な機能を使えるようになります！</p>
                                <form method="dialog" class="w-full flex flex-col items-center">
                                    <%= link_to 'ログイン・新規会員登録（無料）', new_user_session_path, class: "w-full btn btn-accent rounded-full text-white my-2" %>
                                    <button class="">また後で</button>
                                </form>
                            </div>
                        <% end %>
                    </div>
                </dialog>
            </div>
        </div>
        <% if @shortcut.instructions.present? %>
            <div class="w-full md:w-2/3 md:order-5 bg-white mb-2 p-5">
                <div class="flex items-center mb-7">
                    <span class="block w-1 h-6 bg-teal-700 mr-2"></span>
                    <p class="text-lg font-bold">使い方</p>
                </div>
                <div class="flex flex-col gap-4 divide-y-1 divide-dotted divide-teal-500">
                    <% @shortcut.instructions.each_with_index do |instruction, index|%>
                        <div class="flex items-start gap-4 pb-4">
                            <div class="flex-none flex justify-center items-center bg-zinc-500 text-white text-sm rounded-full size-6">
                                <p><%= index + 1 %></p>
                            </div>
                            <p><%= instruction.content %></p>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
        <div class="w-full md:w-1/3 md:order-2 mb-2 md:pl-4 md:sticky md:top-4">
            <div class="bg-white p-4">
                <div class="flex items-center mb-7">
                    <span class="block w-1 h-6 bg-teal-700 mr-2"></span>
                    <p class="text-lg font-bold">作成者</p>
                </div>
                <div class="flex">
                    <div class="size-20 mr-4">
                        <% if @shortcut.user.avatar.present? %>
                            <%= image_tag @shortcut.user.avatar, class: "rounded-full object-cover aspect-1/1" %>
                        <% else %>
                            <%= image_tag "user_default_icon.png", class: "rounded-full object-cover aspect-1/1" %>
                        <% end %>
                    </div>
                    <div class="flex flex-col justify-center">
                        <%= link_to user_path(@shortcut.user), class: "flex flex-col", data: { turbo: false } do %>
                            <p class="text-base"><%= @shortcut.user.name %></p>
                            <p class="pl-1 text-xs text-zinc-500">@<%= @shortcut.user.uid %></p>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <% if @shortcut.tags.present? %>
            <div class="w-full md:w-2/3 md:order-6 flex flex-col bg-white mb-2 p-4">
                <div class="flex items-center mb-7">
                    <span class="block w-1 h-6 bg-teal-700 mr-2"></span>
                    <p class="text-lg font-bold">関連するタグ</p>
                </div>
                <div class="flex flex-wrap">
                    <%= render partial: "tag", collection: @shortcut.tags %>
                </div>
            </div>
        <% end %>
    </div>
    <div class="w-full flex flex-col md:max-w-3xl">
        <div class="w-full md:w-2/3 md:order-6 flex flex-col bg-white mb-2 p-4">
            <div class="flex items-center mb-7">
                <span class="block w-1 h-6 bg-teal-700 mr-2"></span>
                <p class="text-lg font-bold">コメント</p>
            </div>
            <div id="comment-list">
                <%= render @comments %>
            </div>
            <%= turbo_frame_tag "comment_reply_modal" %>
            <% if user_signed_in? %>
                <%= turbo_frame_tag "edit_comment_form" %>
                <%= render "comments/form", comment: @comment, shortcut: @shortcut %>
            <% else %>
                <div class="bg-zinc-100 rounded-xl p-4">
                    <h3 class="text-xl text-teal-700 font-bold">ログインするともっと便利に</h3>
                    <p class="my-4 text-zinc-700">新規会員登録しログインすると<br/><span class="font-bold text-teal-500 text-lg">コメントを投稿</span>できるようになります！</p>
                    <%= link_to 'ログイン・新規会員登録（無料）', new_user_session_path, class: "w-full btn btn-accent rounded-full text-white my-2" %>
                </div>
            <% end %>
        </div>
    </div>
</div>
