<h1>ホーム</h1>
<% if user_signed_in? %>
    <p>名前：<%= current_user.name %></p>
    <p>UID：<%= current_user.uid %></p>
    <p>メール：<%= current_user.email %></p>
    <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-error" %>
<% else %>
    未ログイン
<% end %>

<%= link_to "ショートカット一覧", shortcuts_path %>