<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Shortcut Hub" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="fff">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= display_meta_tags(default_meta_tags) %>
    <style>
      a, button {
        -webkit-tap-highlight-color: rgba(100, 100, 100, .5);
      }
    </style>
    <meta name="google-site-verification" content="2jAYiK2jctV1aJxr9ByzX9aZaGGEhSAULRr6w_3CF7U" />
    <meta name="google-adsense-account" content="ca-pub-8520726576763617">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-46Q3PCP82V"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-46Q3PCP82V');
    </script>
  </head>

  <body class="bg-teal-50 text-zinc-900" id="body">
    <% if @show_header %>
      <%= render "shared/header" %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <%= render "shared/dock" %>
    <main class="min-h-screen">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
